/.gradle
/.idea
*.class
*.dex
*.apk
*.iml

/gradle
/local.properties

/app/src/androidTest
/app/build


/library/build
/volley/build
/devpkg-android/build
/app/debug.keystore
/build

/gradlew
/gradlew.bat
